@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  height: 100%;
  //to remove border
  border: 0;
  margin: 0;
}
body {
  background: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%) fixed no-repeat;
  font-family: 'Press Start 2P', cursive;
  //background: -webkit-linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%) no-repeat fixed;
}

.flexcon {
  display: flex;
  &.startpage {
    justify-content: center;
    align-items: center;
  }
  &.header{
    justify-content: space-between;
  }
  &.endscreen{
    justify-content: center;
    align-items: center;
  }
}

.board {
  display: none;
}

.startpagecontainer{
  height: 200px;
  h1 {
    height: 69px;
  }
}

.button {
  border: solid 1px black;
  height: 40px;
  border-radius: 20px;
  &#start{
    justify-content: center;
    align-items: center;
  }
  &#playagain{
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: #cc6b8e;
  }
  &#home{
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: #cc6b8e;
  }
  &:hover {
    background-color: #7b5fac;
  }
  &#home:hover {
    background-color: #7b5fac;
  }
  &#playagain:hover {
    background-color: #7b5fac;
  }
}


.gridcon{
  display: grid;
  &#gamearea{
    height: 500px;
    width : 800px;
    background-color: black;
    border: 5px solid darkblue;
    position: relative;
    grid-template-rows: repeat(80, 1fr);
    grid-template-columns: repeat(50, 1fr);
  }
}

.header{
  height: 40px;
  & div{
    margin-left: 20px;
    margin-top: 10px;
  }
}


#gameboard {
  background-color: black;
  width: 600px;
  height: 600px;
  margin: auto;
}

.endscreen {
  position: absolute;
  left: 50%;
  margin-left: -154px;
  top: 50%;
  //top: 350px;
  display: none;
}

